#DATABASE_URL=postgresql://postgres:postgres@localhost:5433/sistema-selecao

#FRONTEND_URL=http://localhost:5173

#NODE_ENV=development
# JWT_SECRET=
# envio de emails (Por enquanto, ignorar, pois não está funcionando)
#SMTP_USER=qualquer-email@gmail.com
#SMTP_PASSWORD=qualquer-senha

#PORT=9000
